@keyframes slideup {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-content {
    overflow: hidden;
    background-image: url(/bg.png);
    background-position-y: 25vh;
    background-repeat: repeat-x;
    background-size: 108%;
    min-height: 100vh;
    z-index: 10;
    filter: drop-shadow(-5px 0px 10px rgba(0 0 0 .5));
}
