
.floating-content {
    /* clip-path: inset(0% 10% 0% 10% round 10px); */
    overflow: hidden;
    background-color: white;
    min-height: 100vh;
    z-index: 10;
    /* box-shadow: 0 0px 50px -30px rgb(0 0 0); */
    filter: drop-shadow(-5px 0px 10px rgba(0 0 0 .5))
}